################################################################

# For Windows users, run python setup.py (or python3 setup.py).
# For linux users, run python3 setup.py.

################################################################

################################################################

# Python package requirements for the project:

tensorflow
PyQt5
psutil
opencv-python==4.3.0.36
opencv-contrib-python
matplotlib
pyfastcopy

################################################################
